* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #be4d25;
}

.main-container {
  width: 60vw;
  height: 70vh;
  margin: 5% auto;
  display: flex;
  border-radius: 20px;
  position: relative;
}

.player1,
.player2 {
  width: 50%;

  background-color: aqua;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.player1 {
  background-color: aqua;
  border-bottom-left-radius: 3%;
  border-top-left-radius: 3%;
}

.player2 {
  background-color: azure;
  border-bottom-right-radius: 3%;
  border-top-right-radius: 3%;
}

.player1-text-score,
.player2-text-score {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  font-weight: bold;
}
.dice-score {
  align-self: center;
  margin-top: 15px;
}

.player1-current,
.player2-current {
  width: 200px;
  height: 100px;
  background-color: blueviolet;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  font-weight: bold;
}

.new-game,
.dice,
.roll-dice,
.hold {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.new-game {
  /* margin: 10% 46%; */

  position: absolute;
  width: 20%;
  bottom: 85%;

  background: white;
  height: 6vh;
  border-radius: 20px;
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.new-game-text {
  margin-right: 15px;
}
.dice {
  width: 8vw;
  height: 12vh;
  bottom: 50%;
  background-color: #be4d25;
  border-radius: 50%;
}
.dice svg {
  width: 85%;
  height: 90%;
  margin-top: 5px;
  margin-left: 10px;
  padding: 5px;
  object-position: center;

  object-fit: cover;
}

.roll-dice {
  width: 20%;
  bottom: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}

.roll-dice > svg {
  width: 20%;
  height: 70%;

  padding: 5px;
}
.roll-dice > .roll-dice-text {
  font-size: large;
  font-weight: bold;
  padding-right: 15px;
}

.hold {
  width: 15%;
  bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}

.hold > svg {
  width: 20%;
  height: 60%;

  padding: 5px;
}
.hold > .hold-text {
  font-size: large;
  font-weight: bold;
  padding-right: 15px;
}

/*
tortoise explain wasp twelve wave enhance fiction exile diamond awkward announce crack

Rajeev shivah pass -->>  4cd03bb8859e4e85e58c0e39acbb7e1e5553ba0eb7907dad63361a31e16555bd
*/
